<!DOCTYPE html>
<html>
    {%load static%}
  <title>Description Particulars</title>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />
  <link
    rel="stylesheet"
    href="https://fonts.googleapis.com/css?family=Inconsolata"
  />
  <style>
    body,
    html {
      height: 100%;
      font-family: 'Inconsolata', sans-serif;
    }

    .bgimg {
      background-position: center;
      background-size: cover;
      background-image: url("{{satellite.Picture.url}}");
      min-height: 75%;
    }
    .menu {
      display: none;
    }
  </style>

  <body>
    <!-- Links (sit on top) -->
    <div class="w3-top">
      <div class="w3-row w3-padding w3-black">
        <div class="w3-col s4">
          <a href="{% url 'homepage'%}" class="w3-button w3-block w3-black"
            >HOME</a
          >
        </div>
        <div class="w3-col s4">
          <a
              href="{% url "full" name=satellite.Name%}"
            class="w3-button w3-block w3-black"
            rel="noopener noreferrer"
            >FULL SPECS</a
          >
        </div>
        <div class="w3-col s4">
            <a href="{% url 'logout' %}" class="w3-button w3-block w3-black">LOGOUT</a>
        </div>
      </div>
    </div>

    <!-- Header with image -->
    <header class="bgimg w3-display-container w3-grayscale-min" id="home">
      <div class="w3-display-bottomleft w3-center w3-padding-large w3-hide-small">
          <span class="w3-tag">Launched on : {{satellite.DateOfLaunch}}</span>
      </div>
      <div class="w3-display-middle w3-center">
        <span class="w3-text-white" style="font-size:90px">{{satellite.Name}}</span>
      </div>
      <div class="w3-display-bottomright w3-padding-large w3-hide-small">
          <span class="w3-tag"> Launch Vehicle : {{satellite.LaunchVehicle}} </span>
      </div>
    </header>

    <!-- Add a background color and large text to the whole page -->
    <div class="w3-sand w3-grayscale w3-large">
      <!-- About Container -->
      <div class="w3-container" id="about">
        <div class="w3-content" style="max-width:700px">
          <h5 class="w3-center w3-padding-64">
            <span class="w3-tag w3-wide">ABOUT THE SATELLITE</span>
          </h5>
          <div class="w3-panel w3-leftbar w3-light-grey">
          <p>
              {{satellite.Description}}
          </p>
          </div>
        </div>
      </div>

      <!-- Contact/Area Container -->
      <div class="w3-container" id="where" style="padding-bottom:32px;">
        <div class="w3-content" style="max-width:700px">
          <h5 class="w3-center w3-padding-48">
            <span class="w3-tag w3-wide">HELP US IMPROVE</span>
          </h5>
          <form action="{% url "suggest"%}" method="POST">
              {%csrf_token%}
            <p>
              <input
                class="w3-input w3-padding-16 w3-border"
                type="text"
                placeholder="Name"
                required
                name="name"
              />
            </p>
            <p>
              <input
                class="w3-input w3-padding-16 w3-border"
                type="text"
                placeholder="Email ID"
                required
                name="email"
              />
            </p>
            <p>
              <input
                class="w3-input w3-padding-16 w3-border"
                type="text"
                placeholder="Message\Suggestions"
                required
                name="suggestion"
              />
              <input
                type="hidden"
                name="current"
                value = "description/{{satellite.Name}}"
              />
              <input
                  type="hidden"
                  name="organisation"
                  value="{{satellite.Organisation.id}}"
            </p>
            <p>
              <button class="w3-button w3-black" type="submit">
                SEND MESSAGE
              </button>
            </p>
          </form>
        </div>
      </div>

      <!-- End page content -->
    </div>

    <!-- Footer -->
    <footer class="w3-center w3-light-grey w3-padding-48 w3-large">
      <p>DEPARTMENT OF ISE, RVCE</p>
    </footer>

    <script>
      // Tabbed Menu
      function openMenu(evt, menuName) {
        var i, x, tablinks;
        x = document.getElementsByClassName('menu');
        for (i = 0; i < x.length; i++) {
          x[i].style.display = 'none';
        }
        tablinks = document.getElementsByClassName('tablink');
        for (i = 0; i < x.length; i++) {
          tablinks[i].className = tablinks[i].className.replace(
            ' w3-dark-grey',
            '',
          );
        }
        document.getElementById(menuName).style.display = 'block';
        evt.currentTarget.firstElementChild.className += ' w3-dark-grey';
      }
      document.getElementById('myLink').click();
    </script>
  </body>
</html>
