<!DOCTYPE html>
<html>
  <title>Scientific Dive</title>
  {% load static %}
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />
  <link
    rel="stylesheet"
    href="https://fonts.googleapis.com/css?family=Raleway"
  />
  <style>
    body,
    h1,
    h5 {
      font-family: 'Raleway', sans-serif;
    }
    body,
    html {
      height: 100%;
    }
    .bgimg {
        background-image: url("{{satellite.Picture.url}}");
      min-height: 100%;
      background-position: center;
      background-size: cover;
    }
  </style>
  <link rel="stylesheet" type="text/css" href="{% static "css/Notifier.min.css"%}">
  <body>
    <div class="bgimg w3-display-container w3-text-white">
      <div class="w3-display-middle w3-jumbo">
          <p>{{satellite.Name}}</p>
      </div>
      <div class="w3-display-topleft w3-container w3-xlarge">
        <p>
          <button
            onclick="document.getElementById('menu').style.display='block'"
            class="w3-button w3-black"
          >
            Scientific Details
          </button>
        </p>
        <p>
        </p>
      </div>
      <div class="w3-display-bottomleft w3-container w3-xlarge">
          <p>
          {% if user.is_authenticated%}
            {%if user.profile.is_head and user.profile.Organisation.id == satellite.Organisation.id%}
            <button onclick="document.getElementById('editsat').style.display='block'" class="w3-button w3-black" >
                Edit This Page ! 
            </button>
            {% else %}
                {% if user.profile.AssociatedSat.Name == satellite.Name%}
                <button onclick="document.getElementById('editsat').style.display='block'" class="w3-button w3-black" >
                    Edit This Page !
                </button>
                {% else %}
                <button onclick="document.getElementById('contact').style.display='block'" class="w3-button w3-black" >
                    Send Suggestions
                </button>
                {% endif %}
            {% endif %}
          {% else %}
          <button onclick="document.getElementById('contact').style.display='block'" class="w3-button w3-black" >
            Send Suggestions
          </button>
          {%endif%}
          </p>
      </div>
    </div>

    <!-- Menu Modal -->
    <div id="menu" class="w3-modal">
      <div class="w3-modal-content w3-animate-zoom">
        <div class="w3-container w3-black w3-display-container">
          <span
            onclick="document.getElementById('menu').style.display='none'"
            class="w3-button w3-display-topright w3-large"
            >x</span
          >
          <h1>General</h1>
        </div>
        <div class="w3-container">
            <h5>Name <b>{{satellite.Name}}</b></h5>
          <h5>Organisation <b>{{satellite.OrganisationName}}</b></h5>
          <h5>Country <b>{{satellite.CountryOrigin}}</b></h5>
          <h5>Purpose<b>{{satellite.Purpose}}</b></h5>
        </div>
        <div class="w3-container w3-black">
          <h1>Technical Details</h1>
        </div>
        <div class="w3-container">
          <h5>Perigee <b>{{satellite.Perigee}}</b></h5>
          <h5>Apogee<b>{{satellite.Apogee}}</b></h5>
          <h5>Inclination <b>{{satellite.Inclination}}4.00</b></h5>
          <h5>Power<b>{{satellite.Power}}</b></h5>
          <h5>Mass<b>{{satellite.Mass}}</b></h5>
        </div>
        <div class="w3-container w3-black">
          <h1>Vehicle And Time</h1>
        </div>
        <div class="w3-container">
            <h5>Time Period<b>{{satellite.TimePeriod}}</b></h5>
            <h5>Date of Launch<b>{{satellite.DateOfLaunch}}</b></h5>
            <h5>LifeSpan <b>{{satellite.LifeSpan}}</b></h5>
            <h5>LaunchVehicle <b>{{satellite.LaunchVehicle}}</b></h5>
        </div>
      </div>
    </div>

    <!-- Contact Modal -->
    <div id="contact" class="w3-modal">
      <div class="w3-modal-content w3-animate-zoom">
        <div class="w3-container w3-black">
          <span
            onclick="document.getElementById('contact').style.display='none'"
            class="w3-button w3-display-topright w3-large"
            >x</span
          >
        <h1>Help Us Improve</h1>
        </div>
        <div class="w3-container">
          <p>
            if you find any information to be incorrect or for suggestions
            please contact us:
          </p>
          <form action="{% url "suggest" %}" method="post">
              {%csrf_token%}
            <p>
              <input
                class="w3-input w3-padding-16 w3-border"
                type="text"
                placeholder="name"
                required
                name="name"
              />
            </p>
            <p>
              <input
                class="w3-input w3-padding-16 w3-border"
                type="text"
                placeholder="email id"
                required
                name="email"
              />
            </p>
            <p>
              <input
                type="hidden"
                name="current"
                value="{% url "full" name=satellite.Name %}"
              />
              <input
                  type="hidden"
                  name="organisation"
                  value="{{satellite.Organisation.id}}"
              />
            </p>
            <p>
              <input
                class="w3-input w3-padding-16 w3-border"
                type="text"
                placeholder="detailed message"
                required
                name="suggestion"
              />
            </p>
            <p><button class="w3-button" type="submit">Send Message</button></p>
          </form>
        </div>
      </div>
    </div>
  </body>

 <!--Edit Modal-->
  <div id="editsat" class="w3-modal">
      <div class="w3-modal-content w3-animate-zoom">
        <div class="w3-container w3-black">
          <span
            onclick="document.getElementById('editsat').style.display='none'"
            class="w3-button w3-display-topright w3-large"
            >x</span
          >
          <h1>Edit This Satellite</h1>
        </div>
        <div class="w3-container">
          <form action="" method="POST" enctype="multipart/form-data">
              {%csrf_token%}
            <p>
              <div class="name">Country Of Origin</div>
              <input
                class="w3-input w3-padding-16 w3-border"
                type="text"
                value="{{satellite.CountryOrigin}}"
                required
                name="country"
              />
            </p>
            <p>
              <div class="name">Purpose</div>
              <input
                class="w3-input w3-padding-16 w3-border"
                type="text"
                value="{{satellite.Purpose}}"
                required
                name="purpose"
              />
            </p>
            <p>
                <div class="name">Class of Orbit</div>
              <input
                class="w3-input w3-padding-16 w3-border"
                type="text"
                value="{{satellite.ClassOfOrbit}}"
                required
                name="orbitclass"
              />
            </p>
            <p>
              <div class="name">Apogee</div>
              <input
                class="w3-input w3-padding-16 w3-border"
                type="text"
                value="{{satellite.Apogee}}"
                required
                name="apogee"
              />
            </p>
            <p>
            <div class="name">Perigee</div>
              <input
                class="w3-input w3-padding-16 w3-border"
                type="text"
                value="{{satellite.Perigee}}"
                required
                name="perigee"
              />
            </p>
            <p>
              <div class="name">Inclination</div>
              <input
                class="w3-input w3-padding-16 w3-border"
                type="text"
                value="{{satellite.Inclination}}"
                required
                name="inclination"
              />
            </p>
            <p>
              <div class="name">Launch Vehicle</div>
              <input
                class="w3-input w3-padding-16 w3-border"
                type="text"
                value="{{satellite.LaunchVehicle}}"
                required
                name="launchvehicle"
              />
            </p>
            <p>
              <div class="name">Life Span</div>
              <input
                class="w3-input w3-padding-16 w3-border"
                type="text"
                value="{{satellite.LifeSpan}}"
                required
                name="lifespan"
              />
            </p>
            <p>
              <div class="name">Time Period</div>
              <input
                class="w3-input w3-padding-16 w3-border"
                type="text"
                value="{{satellite.TimePeriod}}"
                required
                name="timeperiod"
              />
            </p>
            <p>
              <div class="name">Power</div>
              <input
                class="w3-input w3-padding-16 w3-border"
                type="text"
                value="{{satellite.Power}}"
                required
                name="power"
              />
            </p>
            <p>
              <div class="name">Mass</div>
              <input
                class="w3-input w3-padding-16 w3-border"
                type="text"
                value="{{satellite.Mass}}"
                required
                name="mass"
              />
            </p>
            <p>
              <div class="name">Description</div>
              <input
                class="w3-input w3-padding-16 w3-border"
                type="text"
                value="{{satellite.Description}}"
                required
                name="description"
              />
            </p>
            <p>
            <div class="name">Date of Launch</div>
              <input
                class="w3-input w3-padding-16 w3-border"
                type="date"
                value="{{satellite.DateOfLaunch}}"
                required
                name="launchdate"
              />
            </p>
            <p>
              <div class="name">Picture</div>
              <input
                class="w3-input w3-padding-16 w3-border"
                type="file"
                required
                name="satimage"
              />
            </p>
            <p><button class="w3-button" type="submit">Save Satellite !</button></p>
          </form>
        </div>
      </div>
    </div>

    <script src="{% static "js/Notifier.min.js"%}"></script>

    {% if messages %}
        {% for message in messages %}
            <script>
                function notifyHere(type,message) {
                    var notifier = new Notifier();
                    var notification = notifier.notify(type,message);
                    notification.push();
                }
                notifyHere("{{message.tags}}","{{message}}")
            </script>
        {% endfor %}
    {% endif %}
</html>
