<!DOCTYPE html>
<html>
  <head>
    <title>
      Satellite Data Manager
    </title>
    {% load static %} <link rel="icon" href={% static "images/titleicon.png" %}
    type="image/x-icon" />
  </head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1" />
  <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css" />
  <link
    rel="stylesheet"
    href="https://fonts.googleapis.com/css?family=Raleway"
  />
  <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css"
  />
  <style>
    body,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6 {
      font-family: 'Raleway', sans-serif;
    }
  </style>
  <link rel="stylesheet" type="text/css" href="{% static "css/Notifier.min.css"%}">
  <body class="w3-light-grey w3-content" style="max-width:1600px">
    <!-- Sidebar/menu -->
    <nav
      class="w3-sidebar w3-collapse w3-white w3-animate-left"
      style="z-index:3;width:300px;"
      id="mySidebar"
    >
      <br />
      <div class="w3-container">
        <a
          href="#"
          onclick="w3_close()"
          class="w3-hide-large w3-right w3-jumbo w3-padding w3-hover-grey"
          title="close menu"
        >
          <i class="fa fa-remove"></i>
        </a>
        <img src="{% static "images/rvcelogo.png" %}"
        style="width:45%;margin-left:17%;height: 100%;" /><br /><br />
        <h4><b>RV College of Engineering</b></h4>
        <p class="w3-text-grey">Department of ISE</p>
      </div>
      <div class="w3-bar-block">
        <a  onclick="w3_close()" class="w3-bar-item w3-button w3-padding w3-text-teal" href='{% url 'homepage'%}'>
            <i class="fa fa-th-large fa-fw w3-margin-right"></i>Home
        </a>
        <a
          href="#about"
          onclick="w3_close()"
          class="w3-bar-item w3-button w3-padding"
          ><i class="fa fa-envelope fa-fw w3-margin-right"></i>Legacies</a
        >
        {% if user.is_authenticated %}
            {% if user.profile.is_head %}
            <a
              href="{% url "adminprofile"%}"
             onclick="w3_close()"
              class="w3-bar-item w3-button w3-padding"
             rel="noopener noreferrer"
            >
            <i class="fa fa-user fa-fw w3-margin-right"></i>Hey {{ user.username }} !!!
            </a><!-- prettier-ignore -->
            {% else %}
            <a
            href="{% url "userprofile"%}"
            onclick="w3_close()"
            class="w3-bar-item w3-button w3-padding"
            rel="noopener noreferrer"
            >
            <i class="fa fa-user fa-fw w3-margin-right"></i>Hey {{ user.username }} !!!
            </a><!-- prettier-ignore -->
            <a
            href="description/{{user.profile.AssociatedSat.Name}}"
            onclick="w3_close()"
            class="w3-bar-item w3-button w3-padding"
            ><i class="fa fa-envelope fa-fw w3-margin-right"></i>Go To Assigned Satellite</a
            >
            {% endif%}
        {% else %}
        <a
          href="{% url "login"%}"
          onclick="w3_close()"
          class="w3-bar-item w3-button w3-padding"
          rel="noopener noreferrer"
        >
          <i class="fa fa-envelope fa-fw w3-margin-right"></i>Login/Signup</a
        ><!-- prettier-ignore -->
        {% endif %}


        <a
          href="#search"
          onclick="w3_close()"
          class="w3-bar-item w3-button w3-padding"
          ><i class="fa fa-envelope fa-fw w3-margin-right"></i>Contact</a
        >
      </div>
    </nav>

    <!-- Overlay effect when opening sidebar on small screens -->
    <div
      class="w3-overlay w3-hide-large w3-animate-opacity"
      onclick="w3_close()"
      style="cursor:pointer"
      title="close side menu"
      id="myOverlay"
    ></div>

    <!-- !PAGE CONTENT! -->
    <div class="w3-main" style="margin-left:300px">
      <!-- Header -->
      <header id="portfolio">
        <a href="#"
          ><img
            src="/w3images/avatar_g2.jpg"
            style="width:65px;"
            class="w3-circle w3-right w3-margin w3-hide-large w3-hover-opacity"
        /></a>
        <span
          class="w3-button w3-hide-large w3-xxlarge w3-hover-text-grey"
          onclick="w3_open()"
          ><i class="fa fa-bars"></i
        ></span>
        <div class="w3-container">
          <h1><b>Satellite Explorer</b></h1>
          <div class="w3-section w3-bottombar w3-padding-16">
            <span class="w3-margin-right">Filter:</span>
            <button class="w3-button w3-black">Dashboard</button>
            <a href= "{% url "logout"%}">
            <button class="w3-button w3-white">
              <i class="fa fa-user w3-margin-right"></i>Logout
            </button>
          </div>
        </div>
      </header>

      <!-- First Photo Grid-->
      <div class="w3-row-padding">
          {% for satellite in satellites%}
          <div class="w3-third w3-container w3-margin-bottom">
              <a href = "description/{{satellite.Name}}">
                  <img src="{{ satellite.Picture.url}}" alt="hubble" style="width:100%" class="w3-hover-opacity" height="350px" /> 
              </a>
            <div class="w3-container w3-white">
                <p><b>{{satellite.Name}}</b></p>
              <p>
                  {{satellite.OrganisationName}}
              </p>
            </div>
          </div>
          {% endfor %}
      </div>

      {% if satellites.has_other_pages %}
    <div class="w3-center w3-padding-32">
        <div class="w3-bar">
        {% if satellites.has_previous %}
        <a href="?page={{ satellites.previous_page_number }}" class="w3-bar-item w3-button w3-hover-black">&laquo;</a>
        {% else %}
          <div href="#" class="w3-bar-item w3-hover-red">&laquo;</div>
        {% endif %}
        {% for i in satellites.paginator.page_range %}
        {% if satellites.number == i %}
            <a href="#" class="w3-bar-item w3-black w3-button">{{ i }}</a>
        {% else %}
            <a href="?page={{ i }}" class="w3-bar-item w3-button w3-hover-black">{{ i }}</a>
        {% endif %}
        {% endfor %}
        {% if satellites.has_next %}
          <a href="?page={{ satellites.next_page_number }}" class="w3-bar-item w3-button w3-hover-black">&raquo;</a>
        {% else %}
          <div href="#" class="w3-bar-item w3-hover-red">&raquo;</div>
        {% endif %}
    {% endif %}
    </div>
      

    <div class="w3-container w3-padding-large" style="margin-left:300px">
        <!-- Pricing Tables -->
        <h4><b>About the Website</b></h4>
        <p>
          This website is an informative cluster of the machines that are
          orbiting our planet constantly providing us with the incidents
          occuring in space through high-definition images and video clippings
          which involve a highly advanced use of technology.
        </p>
        <hr />
      </div>

      <!-- Contact Section -->
      <div class="w3-container w3-padding-large w3-grey" style="margin-left:300px">
        <h4 id="contact"><b>Contact Us</b></h4>
        <div
          class="w3-row-padding w3-center w3-padding-24"
          style="margin:0 -16px"
        >
          <div class="w3-third w3-dark-grey">
            <p><i class="fa fa-envelope w3-xxlarge w3-text-light-grey"></i></p>
            <p>kiranhegde619@gmail.com</p>
          </div>
          <div class="w3-third w3-teal">
            <p>
              <i class="fa fa-map-marker w3-xxlarge w3-text-light-grey"></i>
            </p>
            <p>RVCE,Bengaluru</p>
          </div>
          <div class="w3-third w3-dark-grey">
            <p><i class="fa fa-phone w3-xxlarge w3-text-light-grey"></i></p>
            <p>9611664017</p>
          </div>
        </div>
        <hr class="w3-opacity" />
      </div>

      <!-- Footer -->
      <footer class="w3-container w3-padding-32 w3-dark-grey" style="margin-left:300px" >
        <div class="w3-row-padding">
          <div class="w3-third">
            <h3>Contributions</h3>
          </div>
          <p>
            We like to extend our sincere gratitude to our faculty incharge for
            Database Management System Dr.Padmashree who has provided us with
            all the neccessary knowledge for the project.
          </p>
        </div>
      </footer>

      <div class="w3-black w3-center w3-padding-24" style="margin-left:300px" >
        <h3>Developers</h3>
        <p>Kiran Ravi Hegde and K Vadhiraja, Dept. of ISE, RVCE Bengaluru</p>
      </div>
      <div class="w3-black w3-center w3-padding-24 w3-xlarge" style="margin-left:300px">
        <h3>Follow us on Social Media</h3>
        <a href="https://www.instagram.com/vadhi_k7/" target="_blank"><img src="{% static "images/instagram.png"%}" width="9%" height="9%"></a>
        <a href="https://github.com/HankiGreed" target="_blank"><img src="{% static "images/github.png"%}" width="6%" height="6%"></a>
        <a href="https://twitter.com/Vadhiraja3" target="_blank"><img src="{% static "images/twitter.png"%}" width="6%" height="6%" style="margin-left: 2%;"></a>
        <a href="https://www.linkedin.com/in/kiranravihegde/" target="_blank"><img src="{% static "images/linkedin.png"%}" width="6%" height="6%" style="margin-left: 1%;"></a>
    
        <!--<a href="https://www.instagram.com/hanki_greed/"><i class="fa fa-instagram w3-hover-opacity"></i></a>
        <i class="fa fa-facebook-official w3-hover-opacity"></i>
        <i class="fa fa-twitter w3-hover-opacity"></i>
        <i class="fa fa-linkedin w3-hover-opacity"></i>-->    
      </div>
      <!-- End page content -->
    </div>
    </div>

    <script>
      // Script to open and close sidebar
      function w3_open() {
        document.getElementById('mySidebar').style.display = 'block';
        document.getElementById('myOverlay').style.display = 'block';
      }

      function w3_close() {
        document.getElementById('mySidebar').style.display = 'none';
        document.getElementById('myOverlay').style.display = 'none';
      }
    </script>
    <script src="{% static "js/Notifier.min.js"%}"></script>

    {% if messages %}
        {% for message in messages %}
            <script>
                function notifyHere(type,message) {
                    var notifier = new Notifier();
                    var notification = notifier.notify(type,message);
                    notification.push();
                }
                notifyHere("{{message.tags}}","{{message}}")
            </script>
        {% endfor %}
    {% endif %}
  </body>
</html>
