
Project/4.jpeg
Project/SignUp and Login/SignUp Final/css/main.css
Project/SignUp and Login/SignUp Final/index.html
Project/SignUp and Login/SignUp Final/js/global.js
Project/SignUp and Login/SignUp Final/vendor/jquery/jquery.js
Project/SignUp and Login/SignUp Final/vendor/jquery/jquery.min.js
Project/SignUp and Login/registration.php
Project/about.png
Project/aryabhata.jpg
Project/bg-01.jpg
Project/bhaskara.jpeg
Project/contact.png
Project/dbg1.jpg
Project/description.html
Project/details.css
Project/fullimage.html
Project/gsat19.jpg
Project/home.png
Project/homepage.css
Project/homepage.html
Project/hub.jpg
Project/hubble.jpg
Project/iss.jpg
Project/logimg.jpg
Project/logimg2blur.jpg
Project/login.css
Project/loginpage.css
Project/registration.php
Project/rough.css
Project/rough2.html
Project/rvcelogo.png
Project/satellite.png
Project/search.png
Project/sputnik.jpg
Project/titleicon.png
Project/transparent_login_form.zip
Project/user.jpg
UCS-Satellite-Database-10-1-19.xlsx
satellite_management/__pycache__/__init__.cpython-38.pyc
satellite_management/__pycache__/settings.cpython-38.pyc
satellite_management/__pycache__/urls.cpython-38.pyc
satellite_management/__pycache__/wsgi.cpython-38.pyc
satellites/__pycache__/__init__.cpython-38.pyc
satellites/__pycache__/admin.cpython-38.pyc
satellites/__pycache__/models.cpython-38.pyc
satellites/__pycache__/serializers.cpython-38.pyc
satellites/__pycache__/urls.cpython-38.pyc
satellites/__pycache__/views.cpython-38.pyc
satellites/migrations/0001_initial.py
satellites/migrations/__init__.py
satellites/migrations/__pycache__/0001_initial.cpython-38.pyc
satellites/migrations/__pycache__/__init__.cpython-38.pyc